
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EAD_PredictionTool.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Prediction Tool</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        /* Your styles */
    </style>
</head>
<body>
    <div class="login-container">
        <img src="logo.png" alt="Logo" class="logo">
        <h2 class="login-title">Student Prediction Tool</h2>
        <form   asp-action="Login" asp-controller="Home" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="Username" class="sr-only"></label>
                <i class="fas fa-user"></i>
                <input asp-for="Username" class="form-control" placeholder="Enter username" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="sr-only"></label>
                <i class="fas fa-lock"></i>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
